{{!-- EDIT MODE --}}
{{!-- # Msg area --}}
{{#if error}}
<div class='error' id='msg'>{{error}}</div>
{{else}}
<div class='info' id='msg'>{{msg}}</div>
{{/if}}
{{!-- # Heading with links --}}
<div class='table'>
  <div class='row'>
    {{!-- # put link back to starting page --}}
    <div class='colhead'><a href='/enter'>Back to main page</a></div>
    {{!-- # Reload page link --}}
    <div class='colhead'><a href={{editAccUrl}}>Reload this page</a></div>
    <div class='colcell'><a name='top' href='#bottom'>To Bottom</a></div>
  </div>
  <div class='row'> 
    <div class='title colhead'>Edit Mode</div>
    <div class='title colhead'>{{editAcc}}</div>
    <div class='colcell'></div>
  </div>
  {{!-- # Emtpty row to create space between heading and table below --}}
  <div class='row'>
    <div class='title colhead'>&nbsp;</div>
    <div class='title colhead'>&nbsp;</div>
    <div class='colcell'></div>
  </div>
</div>

{{!-- # print out raw data in edit mode --}}
{{!-- # File format: date, trans #, group, comments, amt, balance --}}
<div class='table fullwidth'>
  {{#each transactions}}
    {{#if (toEdit id ../editId)}}
      <form method='post' action='/edit' id={{join 'trans_' id}} class='row'
        onsubmit='return validateInsertForm(this)'>
        <div class='colDate'>
          <input type='text' name='date' value={{date}} size='10'
            onblur='validateDate(this, document.getElementById("msg"))' />
          <input type='hidden' name='edit_priacc' value={{../editAcc}} />
        </div>
        <div class='colTrans'>
          <input type='hidden' name='trans_num' value={{id}} />
          {{fourDigit id}}
        </div>
        <div class='colGrp'>
          <select name='grp'>{{> accGrpListOpts agList=../accGrpList selAcc='' selGrp=category }}</select>
        </div>
        <div class='colAmt'>
          <input type='text' name='amt' value={{toDollars amount}} size='9'
            onblur='validateAmt(this, document.getElementById("msg"))' />
        </div>
        <div class='colBal'>{{toDollars balance}}</div>
        <div class='colNote'>
          <input type='text' name='note' value='{{note}}' size='99%'
            onblur='validateNote(this, document.getElementById("msg"))'  /><br />
          <div class='colshared'>Move to:
            <select name='dstacc'>{{> accListOpts aList=../accList default=../editAcc }}</select>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class='colshared colgo'>
            <input type='radio' name='op' value='update' checked='checked' />
            <label for='update'>Update</label>
            <input type='radio' name='op' value='delete' />
            <label for='delete'>Delete</label>
            <input type='radio' name='op' value='move' />
            <label for='move'>Move</label>&nbsp;&nbsp;
            <input type='submit' name='go' value='Go' />
          </div>
        </div>
      </form>
    {{else}}
      <div class='row' id={{join 'trans_' id}}>
        <div class='colDate'>{{date}}</div>
        <div class='colTrans'>
          <form method='get' action={{join '/edit/' id}}>
            <input type='hidden' name='edit_priacc' value={{../editAcc}} />
            <button type='submit'>
              {{join 'Edit ' (fourDigit id)}}
            </button>
          </form>
        </div>
        <div class='colGrp'>{{lowercase category}}</div>
        <div class='colAmt'>{{toDollars amount}}</div>
        <div class='colBal'>{{toDollars balance}}</div>
        <div class='colNote'>&nbsp; {{note}}</div>
      </div>
    {{/if}}
  {{/each}}

  {{!-- # Put 'add a transaction' form at end of table --}}
  <form method='post' action='/edit' id='trans_add' class='row'
    onsubmit='return validateAddTransaction(this)'>
    <div class='colDate'>
      <input name='date' value={{lastTransaction.date}} size=10
        onBlur='validateDate(this, document.getElementById("msg"))'>
    </div>
    <div class='colTrans'>
      <input type='hidden' name='op' value='add'>
      <input type='hidden' name='edit_priacc' value={{editAcc}}>
    </div>
    <div class='colGrp'>
      <select name='grp' id='grp'
        onBlur='validateAccGrp(this, document.getElementById("msg"))'>
        {{> accGrpListOpts agList=accGrpList selAcc='' selGrp=lastTransaction.grp }}
      </select>
    </div>
    <div class='colAmt'>
      <input name='amt' size=9 value='{{toDollars lastTransaction.amt}}'
        onBlur='validateAmt(this, document.getElementById("msg"))'>
    </div>
    <div class='colBal'>
      <input type='submit' name='submit_add_trans' id='submit_add_trans' value='Add'>
    </div>
    <div class='colNote'>
      <input name='note' size='99%' value='{{lastTransaction.note}}'
        onBlur='validateNote(this, document.getElementById("msg"))'>
    </div>
  </form>
{{!-- # End of table --}}
</div>

{{!-- # Table with links --}}
<div class='table'>
  {{!-- # empty row to create space between table above and footer --}}
  <div class='row'>
    <div class='colhead'>&nbsp;</div>
    <div class='colhead'>&nbsp;</div>
    <div class='colcell'>&nbsp;</div>
  </div>
  <div class='row'>
    {{!-- # put link back to starting page --}}
    <div class='colhead'><a href='/enter'>Back to main page</a></div>
    <div class='colhead'><a name='bottom' href='#top'>To Top</a></div>

    <form method='get' action='/edit' id='f_edit'>
      <div class='colcell'>
        <label for='edit_priacc'>Switch to:</label>
        <select name='edit_priacc' id='edit_priacc'>
          {{> accListOpts aList=accList default='--' }}
        </select>
        <button type='submit'>Edit Mode</button>
      </div>
    </form>
  </div>
</div>

