{{!-- DISPLAY HEADING and MESSAGE --}}
<table class='head'>
  <tr>
    <td class='title'>Expense Tracker<br /><br /></td>
    {{#if error}}
      <td class='error' id='msg'>{{error}}</td>
    {{else}}
      <td class='msg' id='msg'>{{msg}}</td>
    {{/if}}
  </tr>
</table>

{{!-- # FORMS --}}
<table class='actions'>
  <tr>
    {{!-- # First cell/column  --}}
    <td>
      {{!-- # ENTER A TRANSACTION FORM --}}
      <fieldset><legend>Enter a Transaction</legend> 
        <form method='post' action='/enter/add_trans' id='f_add_trans'>
          <label for='date'>Date:</label>
          <input name='date' id='date' value={{lastTransaction.date}} size=10>&nbsp;&nbsp;
          <span class='radio'>
            <input type='radio' name='sign' id='plus' value='+' {{#if (matches 1 lastTransaction.sign)}}checked{{/if}}>
            <label for='plus'>+</label>
          </span>
          <span class='radio'>
            <input type='radio' name='sign' id='minus' value='-' {{#if (matches -1 lastTransaction.sign)}}checked{{/if}}>
            <label for='minus'>-</label>
          </span>&nbsp;&nbsp;
          <label for='amt'>Amt:</label>
          <input name='amt' id='amt' size=9 value={{lastTransaction.amt}}><br>
          <label for='pri_acc'>Account:</label>   
          <select name='pri_acc' id='pri_acc'>
            {{> accGrpListOpts agList=accGrpList default=lastTransaction.grp }}
          </select><br>
          <label for='comments'>Comments:</label><br>
          <textarea name='comments' id='comments' rows='3' cols='30'>{{lastTransaction.note}}</textarea>
          <br><br>
          <label for='link_acc'>(Optionally perform reverse operation on linked account.)<br>
            Linked Account:
          </label>
          <select name='link_acc' id='link_acc'>
            {{> accGrpListOpts agList=accGrpList default='--' }}
          </select><br>  
          <input type='submit' name='submit_trans' id='submit_trans' value='Enter Transaction'>
        </form>
      </fieldset>
      <br>

      <fieldset><legend>Set Filter</legend>
        <form method='post' action='/enter/filter' id='f_filter'>
          <label for='filter'>Filter:</label>
          <input name='filter' id='filter' size=30 value={{accFilter}}>
          <input type='submit' name='submit_filter' id='submit_filter' value='Apply Filter'>
        </form>
      </fieldset>
      <br>

      {{!-- # CREATE A REPORT --}}
      <fieldset><legend>Create a Report</legend>
        <form method='get' action='/report' id='f_rpt'>
          <label for='start_date'>Enter 0 for date if you don't care:<br>
            Start Date:
          </label>
          <input name='start_date' id='start_date' value='0' size=10>&nbsp;&nbsp;
          <label for='end_date'>End Date:</label>
          <input name='end_date' id='end_date' value='0' size=10><br>
          <label for='rpt_acc'>Account:</label>
          <select name='rpt_acc' id='rpt_acc'>
            {{> accListOpts aList=accList default='--' }}
          </select><br>
          <span class='radio'>
            <input type='radio' name='rpt_type' id='balance_sheet' value='bal'>
            <label for='balance_sheet'>Balance Sheet</label>
          </span>
          <span class='radio'>
            <input type='radio' name='rpt_type' id='raw_data' value='raw' checked>
            <label for='raw_data'>Raw Data</label>
          </span>&nbsp;&nbsp;
          <input type='submit' value='Create Report'>
        </form>
      </fieldset>
      <br>

      {{!-- # EDIT MODE --}}
      <fieldset><legend>Enter Edit Mode</legend>
        <form method='get' action='/edit' id='f_edit'>
          <label for='edit_priacc'>Account:</label>
          <select name='edit_priacc' id='edit_priacc'>
            {{> accListOpts aList=accList default='--' }}
          </select>
          <input type='submit' value='Edit Mode'>
        </form>
      </fieldset>
      <br>

      {{!-- # MEREGE TWO ACCOUNTS --}}
      <fieldset><legend>Merge Accounts</legend>
        <form method='post', action='/enter/merge' id='f_merge'>
          <label for='base_acc'>Base account:</label>
          <select name='base_acc' id='base_acc'>
            {{> accListOpts aList=accList default='--' }}
          </select><br>
          <label for='sec_acc'>2nd account:</label>
          <select name='sec_acc' id='sec_acc'>
            {{> accListOpts aList=accList default='--' }}
          </select>&nbsp;&nbsp;
          <input type='submit' name='submit_merge_acc' id='submit_merge_acc' value='Merge Accounts'>
        </form>
      </fieldset>
      <br>
    {{!-- # End of 1st cell/column --}}
    </td>

    {{!-- # Start of 2nd cell/column --}}
    <td>
      {{!-- # ADD AN ACCOUNT FORM --}}
      <fieldset><legend>Add an Account</legend>
        <form method='post' action='/enter/add_acc' id='f_add_acc'>
          <label for='new_acc'>Account:</label>
          <input name='new_acc' id='new_acc' size=30>
          <input type='submit' name='submit_new_acc' id='submit_new_acc' value='Add Account'>
        </form>
      </fieldset>
      <br>

      {{!-- # REMOVE AN ACCOUNT --}}
      <fieldset><legend>Remove an Account</legend>
        <form method='post' action='/enter/rmv_acc' id='f_rmv_acc'>
          <label for='rmv_acc'>Account:</label>
          <select name='rmv_acc' id='rmv_acc'>
            {{> accListOpts aList=accList default='--' }}
          </select>
          <input type='submit' name='submit_rmv_acc' id='submit_rmv_acc' value='Remove Account'>
        </form>
      </fieldset>
      <br>

      {{!-- # ADD A GROUP FORM --}}
      <fieldset><legend>Add a Group</legend>
        <form method='post'  action='/enter/add_grp' id='f_add_grp'>
          <label for='grp_acc'>Account:</label>
          <select name='grp_acc' id='grp_acc'>
            {{> accListOpts aList=accList default='--' }}
          </select><br>
          <label for='new_grp'>Group:</label>
          <input name='new_grp' id='new_grp' size=30>
          <input type='submit' name='submit_new_grp' id='submit_new_grp' value='Add Group'>
        </form>
      </fieldset>
      <br>

      {{!-- # REMOVE A GROUP --}}
      <fieldset><legend>Remove a Group</legend>
        <form method='post' action='/enter/rmv_grp' id='f_rmv_grp'>
          <label for='rmv_grp'>Groups:</label>
          <select name='rmv_grp' id='rmv_grp'>
            {{> accGrpListOpts agList=accGrpList default='--' }}
          </select><br>
          <input type='submit' name='submit_rmv_grp' id='submit_rmv_grp'
            value='Remove Group'>
          <span> OR </span>
          <input type='submit' name='submit_rmv_grp' id='submit_rmv_grp_trans'
            value='Remove Transactions By Group'>
        </form>
      </fieldset>
      <br>

      {{!-- # REMOVE A TRANSACTION --}}
      <fieldset><legend>Remove a Transaction</legend>
        <form method='post' action='/enter/rmv_trans' id='f_rmv_trans'>
          <label for='trans_acc'>Account:</label>
          <select name='trans_acc' id='trans_acc'>
            {{> accListOpts aList=accList default='--' }}
          </select>&nbsp;&nbsp;
          <label for='trans_num'>Trans #:</label>
          <input name='trans_num' id='trans_num' size=5><br>
          <input type='submit' name='submit_rmv_trans' id='submit_rmv_trans'
            value='Remove Transaction'>
        </form>
      </fieldset>
      <br>

      {{!-- # COPY AN ACCOUNT --}}
      <fieldset><legend>Copy an Account</legend>
        <form method='post' action='/enter/cp_acc' id='f_copy'>
          <label for='old_acc'>Account to be copied:</label>
          <select name='old_acc' id='old_acc'>
            {{> accListOpts aList=accList default='--' }}
          </select><br>
          <label for='duplicate_acc'>New Account Name:</label>
          <input name='duplicate_acc' id='duplicate_acc' size=30><br>
          <input type='submit' name='submit_copy_acc' id='submit_copy_acc'
            value='Copy Account'>
          <label for='cp_acc_trans'>Copy Transactions?</label>
          <input type='checkbox' name='cp_acc_trans' id='cp_acc_trans' checked value='YES'>
        </form>
      </fieldset>
    {{!-- # End of 2nd cell/column --}}
    </td>
  </tr>
</table>
